<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="../static/imgs/logo_sky.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="container-link">
            <div class="logo"><img src="../static/imgs/logo_sky.png" alt="">
            </div>
            <div class="link"><a href="/">Home</a></div>
            <div class="link"><a href="/sobremim">Sobre</a></div>
            <div class="link"><a href="/projetos">Projetos</a></div>
            <div class="link"><a href="/contato">Contato</a></div>
        </div>
    </header>

    <div class="corpo">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container-link">
            <div class="link"><a href="mailto:vitorbueno191@gmail.com" target="_blank" rel="noopener noreferrer">Email</a></div>
            <div class="link"><a href="https://instagram.com/_bueno223" target="_blank" rel="noopener noreferrer">Instagram</a></div>
            <div class="link"><a href="https://www.linkedin.com/in/vitor267" target="_blank" rel="noopener noreferrer">Linkedin</a></div>
            <div class="link"><a href="https://github.com/vitorbueno267" target="_blank" rel="noopener noreferrer">GitHub</a></div>
        </div>
        <p>&copy; 2025 Vitor Bueno dos Santos. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
