<html>
{% extends 'base.html' %}
{% block content %}

<body>
    <div class="corpo">
        <div class="sobre-container">
            <br>

            <div class="imagem-lateral">
                <img src="../static/imgs/foto_eu2.png" alt="Developer holding a camera">
            </div>

            <!-- Texto principal -->

            <div class="sobre-content">
                <h2 class="titulo">Sobre Mim</h2>
                <p>
                    Eu gosto bastante de programar e criar soluções que resolvam problemas de um jeito criativo. Mexer com novas
                    ferramentas, aprender linguagens de programação e acompanhar o que está rolando no mundo da
                    tecnologia é algo que me empolga de verdade. Além disso, os games fazem parte do meu dia a dia – não
                    só como diversão, mas também como fonte de inspiração para inovação e trabalho em equipe.
                </p>
                <p>
                    Sou uma pessoa que gosta de conversar e de estar perto de outras pessoas. Tenho facilidade em
                    construir bons relacionamentos, tanto no trabalho quanto fora dele. Acho que trabalhar em equipe e
                    trocar ideias são partes essenciais para alcançar grandes resultados.
                </p>
                <p>
                    Nos meus momentos livres, curto passar um tempo com minha família e amigos. Pra mim, esses momentos
                    são indispensáveis pra recarregar as energias e manter o equilíbrio. Afinal, a vida não é só
                    trabalho, né?
                </p>
                <p>
                    Curiosidade, determinação e um lado super sociável são coisas que me definem bem. Estou sempre em
                    busca de aprender algo novo e encarar desafios que me ajudem a crescer. Meu objetivo é usar tudo
                    isso pra desenvolver projetos que realmente façam a diferença no mundo.
                </p>

                <!-- Link para o currículo -->
                <div class="link-curriculo">
                    <a href="https://drive.google.com/file/d/1zsRdaCC3e1RaEA2Cx95MSIJvZ0SR6U4-/view?usp=sharing"
                        target="_blank">Acesse meu currículo</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>