{% extends 'base.html' %}
{% block content %}
<div class="sobre-container">
    <br>

    <div class="imagem-lateral">
        <img src="../static/imgs/foto_eu2.png" alt="Vitor em retrato">
    </div>

    <!-- Texto principal -->

    <div class="sobre-content">
        <h2 class="titulo">Sobre Mim</h2>
        <p>
            Gosto bastante de programar, identificar problemas e criar soluções. O mundo da tecnologia me empolga bastante e estou sempre acompanhando o que há de novo.
            Além disso, os games fazem parte do meu dia a dia, não só como diversão, mas também como inspiração para inovação e trabalho em equipe.
        </p>
        <p>
            Sou alguém que gosta de conversar e aprender com outras pessoas. Tenho facilidade em
            fazer amizades e acredito que trocar ideias é essencial para o crescimento pessoal e profissional.
        </p>
        <p>
            Em trabalhos anteriores, sempre busquei formas de solucionar problemas cotidianos e posso dizer que meu objetivo é 
            aprimorar minhas habilidades e desenvolver projetos que realmente façam a diferença.
        </p>

       
        <div class="link-curriculo">
            <a href="https://drive.google.com/file/d/1PnJye04DPZsl59e4mQY0B7QBVAcral1G/view?usp=sharing"
                target="_blank" rel="noopener noreferrer">Acesse aqui o meu currículo!</a>
        </div>
    </div>
</div>
{% endblock %}
