{% extends 'base.html' %}
{% block content %}
<section class="sobre-container">
    <div class="imagem-lateral">
        <img src="../static/imgs/foto_eu2.png" alt="Vitor em retrato profissional">
    </div>

    <article class="sobre-content">
        <h2 class="titulo">Sobre Mim</h2>
        <p>
            Gosto bastante de programar, identificar problemas e criar soluções. O mundo da tecnologia me empolga bastante e estou sempre acompanhando o que há de novo.
            Além disso, os games fazem parte do meu dia a dia, não só como diversão, mas também como inspiração para inovação e trabalho em equipe.
        </p>
        <p>
            Sou alguém que gosta de conversar e aprender com outras pessoas. Tenho facilidade em
            fazer amizades e acredito que trocar ideias é essencial para o crescimento pessoal e profissional.
        </p>
        <p>
            Em trabalhos anteriores, sempre busquei formas de solucionar problemas cotidianos e posso dizer que meu objetivo é
            aprimorar minhas habilidades e desenvolver projetos que realmente façam a diferença.
        </p>

        <div class="link-curriculo">
            <a href="https://drive.google.com/file/d/1DEYzLJA5vN4BT-QV2-xQSh43qart4_MP/view?usp=sharing"
                target="_blank" rel="noopener noreferrer" aria-label="Acessar meu currículo no Google Drive">
                Acesse aqui o meu currículo!
            </a>
        </div>
    </article>
</section>
{% endblock %}
