@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

body {
    margin: 0;
    background-color: #333;
    color: #fff;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
}

.corpo {
    flex-grow: 1; /* Faz o corpo ocupar o restante do espaço */
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0px;
}

.container-link {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 40px;
    margin-right: 20px;
}

.link a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link a:hover {
    background-color: rgb(255, 255, 255);
    color: #333;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer .container-link {
    justify-content: center;
}

footer .link a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

footer .link a:hover {
    color: #222;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.projeto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.projeto h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #333;
}

.projeto p {
    margin: 0 0 15px 0;
    font-size: 16px;
    color: #666;
}

.projeto .btn {
    display: inline-block;
    background-color: #f53b57;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s;
    border: #f53b57 2px solid;
}

.projeto .btn:hover {
    background-color: white;
    color: #f53b57;
    border: #f53b57 2px solid;
}

.title {
    text-align: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero .highlight {
    color: #f53b57;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero-buttons .btn {
    background-color: #f53b57;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.hero-buttons .btn:hover {
    background-color: #fff;
    color: #f53b57;
}

.hero-buttons .btn-secundario {
    background-color: transparent;
    border: 1px solid #f53b57;
}

.hero-buttons .btn-secundario:hover {
    background-color: #f53b57;
    color: #fff;
}

.hero-image img {
    max-width: 400px;
    padding: 100px;
    border-radius: 10px;
}

.content p {
    text-align: justify;
    margin-bottom: 15px;
}

.content p:last-child {
    margin-bottom: 0;
}

.content {
    padding: 10px 15px;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.imagem-lateral img {
    max-width: 400px;
    height: auto;
    padding: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.sobre-content {
    flex: 1;
    padding: 20px;
}

.link-curriculo a {
    color: #f53b57 !important;
    text-decoration: underline;
}

.contato-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contato-info {
    flex: 1;
    padding: 20px;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contato-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contato-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contato-info a {
    color: #f53b57;
    text-decoration: none;
}

.contato-info a:hover {
    text-decoration: underline;
}

.contato-form {
    flex: 1;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2px 0px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #f53b57;
}

textarea {
    resize: none;
}

button.btn {
    background-color: #f53b57;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn:hover {
    background-color: #fff;
    color: #f53b57;
    border: 1px solid #f53b57;
}

@media (max-width: 768px) {
    .contato-container {
        flex-direction: column;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
        padding: 20px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
    }

    .hero-buttons .btn {
        margin: 10px 0;
        padding: 10px 15px;
        width: 100%;
    }

    .hero-image img {
        max-width: 100%;
        padding: 0;
        margin: 20px 10px;
    }

    .container-link {
        flex-direction: column;
        gap: 10px;
    }

    .logo {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .projetos-container {
        padding: 10px;
    }

    .projeto {
        padding: 15px;
    }

    .projeto h2 {
        font-size: 18px;
    }

    .projeto p {
        font-size: 14px;
    }

    .projeto .btn {
        padding: 8px 12px;
    }

    .sobre-container {
        flex-direction: column;
        align-items: center;
    }

    .imagem-lateral {
        text-align: center;
    }

    .sobre-content {
        padding: 0 10px;
    }

    .titulo {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 18px;
    }

    .link-curriculo a {
        padding: 8px 12px;
        font-size: 14px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 14px;
    }

    .hero-buttons .btn {
        font-size: 14px;
    }
}

.estrela {
    align-items: center;
    display: flex;
    justify-content: center;
}

.estrela img {
    width: 10%;
    margin: 5% 0%;
}

@media (max-width: 768px) {
    footer .container-link {
        justify-content: center; 
        gap: 15px; 
        display: flex;
        flex-direction: row;
    } 

    .logo{
        margin-bottom: 0;
    } 

    .imagem-lateral img {
        max-width: 300px !important;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    } 

    header .container-link{
    justify-content: center; 
        gap: 15px; 
        display: flex;
        flex-direction: row;
}
.logo img{
    width: 35px !important;
    height: auto;
}
}

@media (max-width: 480px) {
    footer .container-link {
        gap: 10px; 
    }

    footer .link a {
        font-size: 13px; /* Ajusta o tamanho da fonte para telas pequenas */
    }
    header .container-link {
        gap: 10px; 
    }

    header .link a {
        font-size: 13px; /* Ajusta o tamanho da fonte para telas pequenas */
    }

}

.logo img{
    width: 80px;
    height: auto;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    text-align: center;
    border-radius: 8px;
}

.modal img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.close {
    color: #aaa;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    flex: content !important;
    display: flex !important;
    justify-content: right !important;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}


.modal-description {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
}

/* Lightbox styles */
.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.lightbox.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}
